<head>
    <title>Blog Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Welcome to my Blogging Website</h1>
</div>
  